html {
	height: 100%;
}

 body {
	height: 100%;	
	margin: auto;
	padding: 0;
}

h1{
	font-size:48px;
	margin-top:0;
	font-family:Arial, sans-serif;
	text-shadow:2px 0 15px #292929;
	letter-spacing:4px;
	text-decoration:none;
	color:#DDD;
}

#banner{

	text-align:center;
	border-radius:5px;
}

#resume {
	display: block;
}


.lead{
	background-color:rbga(255,255,255,0.6);
	border-radius:3px;
	font-family: Sintony, sans-serif;
}