
body {
	background-image:url("../pics/grid.png");
	

}

article{
	padding:0.5em;
}

#banner{
	border-radius:5px;
	padding:10px 0;
	text-align:center;
	width:auto;

}

#align{
	
	text-align:center;
	margin:0px;
	text-decoration: none;
	line-height:150px;
	width:300px;
	height:150px;
	font-size:18px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}


.button{
	
	width:300px;
	height:150px;
	margin:3em;
	margin-top:0px;
	background-color: rgb(204, 220, 255);
	border:0;
	border-radius: 0;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3);
	text-decoration: none;
	display:inline-block;
	color: black;

}


.main-title {
	font-family:Arial, sans-serif;
	letter-spacing:4px;
	color:black;
	margin-top:0px;
	padding:0px;

}

.project-title{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size:18px;
	text-align:left;
	text-decoration:underline;
	color:black;
	padding: 1em;
	margin-bottom:0px;

}

.project-desc{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size:16px;
	text-align:left;
	color:black;
	
}

.link {
	font-size:22px;
	font-family:Arial, sans-serif;
	letter-spacing:4px;
	color:blue;
	text-decoration:none;
	
}


.index-container{
	width:100%;
	max-width:500px;
	margin:auto;
	background-color: rgb(204, 220, 255);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3);
	padding: .5em;	
	text-align:center;
}

.project-container{
	width:50%;
	padding: .5em;
	margin-left:1em;
}


.plotly{
	display:inline-block;
}



h1{
	font-size:54px;
	font-weight:bold;
	font-family:Arial, sans-serif;
	letter-spacing:4px;
	text-decoration:none;
	color:black;
	margin: 0.1em 0 0.1em 0;
	margin-bottom:.25em;
	

}

h2{
	margin: 3em 0 1em 0;
	padding: 0.5em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size:36px;
	text-align:center;
}


h3{
	margin: 0.5em 0 0.1em 0;
	padding: 0.1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size:36px;
	text-align:center;
}

h4{
	margin: 0.5em 0 0.1em 0;
	padding: 0.1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size:24px;
	text-decoration:underline;
}

h5{
	margin: 0.5em 0 0.1em 0;
	padding: 0.1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size:18px;
}


p{
	
	margin: 0.2em 0 0.2em 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size:18px;
	text-align:center;
}

desc{
	
	margin: 0.1em 0 0.1em .1em;
	padding-left:1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size:18px;
	display:inline-block;
	width:100%
	
	
}

.stamp{
	content:url("../pics/sampleStamp.gif");
	width: 75%; 
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:5em;
}

.imageContainer{
	width:100%;
	padding-top:5em;
	max-width:800px;
	margin:auto;

}

#poisson{
	content:url("../pics/poisson.png");
	width: 35%; 
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

#poisson-code{
	content:url("../pics/poissoncode.jpg");
	width: 35%; 
	display: inline-block;
    margin-left: auto;
    margin-right: 10%;
    
}

.advent{
	content:url("../pics/advent.png");
	display:block;
	margin:auto;
}

.hangingindent {
	text-indent: -5em;
}


